# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
env/
.venv/

# Ignore environment files
.env

# Ignore logs
*.log

# Ignore OS and IDE files
.DS_Store
.vscode/
.idea/
